* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url("./images/dog-background.jpg");
  background-position: initial fixed;
  background-attachment: fixed;
  background-size: cover;
  scroll-behavior: smooth;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-flow: row wrap;

  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
