* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url("./images/dog-background.jpg");
  background-position: initial fixed;
  background-size: cover;
  scroll-behavior: smooth;
}
.App {
  text-align: center;
  min-height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
