section {
  height: 100vh;
  background: rgb(233, 207, 207);
  width: 80%;
}
h1 {
  width: 100%;
  background-color: rgb(236, 211, 211);
}
.form {
  background-color: rgb(56, 130, 199);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: 500px;
  margin: 0 auto;
  padding: 8%;
}
input {
  padding: 2%;
  border-radius: 5px;
}
errors {
  color: red;
}
