section {
  min-height: 100vh;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 60%;
  padding: 2% 4%;
  background: #ecf0f3;
}
.arrow {
  position: absolute;
  left: 15%;
  top: 10px;
  background-color: #f6f7f800;
  color: rgb(199, 176, 176);
  border: none;
  /* font-size: 80px; */
  /* padding: 10px; */
  width: 7%;
}
.error {
  color: rgb(212, 28, 28);
  padding: 5px;

  animation-name: error;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: error;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
@-moz-keyframes error {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes error {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes error {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.title {
  width: 80%;
  text-align: center;
  margin: auto;
  padding: 2%;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-top: 24px;
}
.form {
  background-color: #e6efed;
  border-radius: 40px;
  box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #ffffff;
  padding: 50px 35px 35px 35px;
  border-radius: 58px;
  padding: 2%;
  margin: 0 auto;
  width: 80%;
}
/* div de cada label */
.containers,
.temperament_box,
.submit_box {
  width: 90%;
  margin: 0 auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.raza_label {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.raza_label input,
.image_label input {
  padding: 15px;
  border: none;
  width: 85%;
}
.image_label {
  width: 88%;
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.image_label input {
  width: 60%;
  height: 16px;
}
.img_box {
  object-fit: cover;
  width: 25%;
}
.img_box img {
  width: 100%;
  border-radius: 15%;
}

.height_label,
.weight_label,
.live_label {
  width: 100%;
  display: flex;
  flex-flow: wrap row;
}
section h4 {
  width: 100%;
  padding: 10px;
}
.min_max {
  padding: 5%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.min_max input {
  padding: 15px;
  width: 10%;
}
.temperament_box {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

/* Container del div que tiene select y div selected
 */
.select_div_box {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.select_div_box select {
  width: 100%;
  margin: 8px 0px;
}
/* caja de temperamentos seleccionados */
.selected_temps_box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
/* cada temperamento span que posee un btn  */
.selected_temps_box span {
  align-items: center;
  background: #ecf0f3;
  box-shadow: inset 10px 10px 20px #cbced1, inset -10px -10px 20px #ffffff;
  border-radius: 8px;
  color: #333;
  display: flex;
  padding: 4px 0px;
  width: 30%;
  justify-content: space-around;
  margin: 4px 0px;
}
.selected_temps_box span button {
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.068);
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    Geneva, Tahoma, sans-serif;
}
/* DESCRIPTION */
.description_label {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100px;
}
section input,
section select,
textarea {
  width: 100%;
  border-radius: 10px;
  background: #ecf0f3;
  box-shadow: inset 10px 10px 20px #cbced1, inset -10px -10px 20px #ffffff;
  padding: 3%;

  border: none;
}
/* SUBMMIT */

.submit_box input {
  padding: 4%;
  cursor: pointer;
}
@media (max-width: 500px) {
  .title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  section {
    width: 100%;
    padding: 0% 1%;
  }
  .form {
    width: 100%;
    padding: 5px 0px;
  }
  .form input,
  .form select,
  .image_label input {
    padding: 7px;
  }
  .img_box {
    padding: 0%;
  }
  .arrow {
    top: 1%;
    left: 0%;
    width: 12%;
  }
  .error {
    font-size: 12px;
  }
}
