.main_box {
  padding: 20px 0px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  /* background-image: linear-gradient(
    to left bottom,
    #051937,
    #394862,
    #6e7d90,
    #aab5c0,
    #ecf0f3
  ); */
  background-image: linear-gradient(
    to right top,
    #0f550f,
    #19410c,
    #192e09,
    #151c04,
    #050700
  );
  opacity: 0;

  transition: 0.8s 0.1s linear;
  transition-timing-function: ease-in;

  position: relative;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
.arrow {
  position: absolute;
  left: 0;
  top: 10px;
  background-color: #05193700;
  color: black;
  border: none;
  /* font-size: 80px; */
  /* padding: 10px; */
  width: 7%;
}
.details_box {
  display: flex;
  justify-content: center;
  flex-flow: wrap row;
  width: 50%;
  border-radius: 15px;
  min-height: 80vh;
  /* background-color: #e6efed; */
  background-color: #b9c9d4;
  padding: 2.5% 0%;
}

img {
  width: 99%;
  border-radius: 10px;
  padding: 1%;
  cursor: pointer;
}
.name {
  color: #b9c9d4;
  width: 100%;
  border-radius: 10px;
  padding: 1% 0px;
  background-image: linear-gradient(
    to right top,
    #0f550f,
    #19410c,
    #192e09,
    #151c04,
    #050700
  );
  display: flex;
  justify-content: center;
  align-self: center;
}

.features_box {
  border-radius: 10px;
  background-color: #e6efed;
  /* box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #ffffff; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 85%;
  padding: 2%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 1.2em;
}
.features_box h2 {
  color: #b9c9d4;
  border-radius: 10px;
  width: 100%;
  padding: 10px 5px;
  background-image: linear-gradient(
    to right top,
    #0f550f,
    #19410c,
    #192e09,
    #151c04,
    #050700
  );
  display: flex;
  justify-content: center;
  align-self: center;
}
.features_box div {
  width: 100%;
  background: #ecf0f3;
  box-shadow: inset 10px 10px 20px #cbced1, inset -10px -10px 20px #ffffff;
  border-radius: 8px;
  padding: 5px 10px;

  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.features_box div p {
  width: 60%;
  margin: 2px;
  text-align: justify;
}
.description_p {
  width: 89%;
  padding: 5px;
  text-align: center;
  border-radius: 15px;
}
.opacity {
  opacity: 1;
}

@media (max-width: 450px) {
  .main_box {
    padding: 5% 5%;
  }
  .details_box {
    width: 90%;
    padding: 15px 0px;
  }
  .arrow {
    width: 50px;
    top: -5px;
    left: -12px;
  }
  .name {
    font-size: 20px;
    border-radius: 5px;
  }
  .features_box {
    font-size: 12px;
  }
  .features_box h2 {
    border-radius: 5px;
  }
}
