.dogs_container {
  display: flex;
  padding: 0px;
  flex-flow: wrap row;
  justify-content: space-evenly;
  width: 70%;
  transition-timing-function: ease-in;
  /* transition: 0.8s 0.1s linear; */
  overflow-y: auto;
  transition-delay: 0.5s;

  /* background: black; */
}

.dog {
  border-radius: 8px;
  background: #e0e0e0;
  /* box-shadow: 13px -13px 21px #636363, -13px 13px 21px #ffffff; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
  flex-flow: row wrap;
  margin: 30px 0px 30px 0px;
  width: 450px;
  height: 400px;

  transition-timing-function: ease-in;
  transition: 1s 0.1s linear;
  padding: 10px;
  opacity: 0;
}

/* .dogs_container:hover .dog {
  filter: blur(2px);
  transform: scale(0.95);
} */
.dog:hover {
  transition: box-shadow 0.5s, transform 500ms, filter 500ms ease-in-out;
  transform: scale(1.03);
}
.img_container {
  height: 50%;
  width: 60%;
}
.img_card {
  height: 200px;
  object-fit: cover;
  width: 100%;

  display: block;
  border-radius: 8px;
}
.name {
  height: 50%;
  width: 40%;
  padding-top: 4px;
  /* border-radius: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  text-decoration: none;

  width: 98%;
  color: rgb(235, 223, 203);
  padding: 5px;
  box-shadow: rgba(26, 22, 22, 0.096) 0px 4px 6px;
  background-image: linear-gradient(
    49deg,
    #27a082,
    #1a5804,
    #135316,
    #27a082,
    #1a5804
  );
  border-radius: 4px;
}
.link:hover {
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.info {
  font-size: 1.2em;
  height: 40%;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.temperament_box {
  width: 60%;
  height: 100%;
}
.temperament_box ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  height: 100%;
  align-items: center;
  padding: 5px;
  width: 95%;
  margin: auto;
  overflow: auto;
  height: 64%;
}
.temperament_box li {
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(
    49deg,
    #27a082,
    #1a5804,
    #135316,
    #27a082,
    #1a5804
  );
  width: 46%;
  padding: 2px 1px;
  margin: 1px 3px 1px 3px;
  border-radius: 4px;
}
.weight_box {
  width: 40%;
}
.opacity {
  opacity: 1;
}
/* ---------------Media querys----------- */
@media (max-width: 700px) {
  .dogs_container {
    justify-content: center;
    width: 100%;
  }
  .dog {
    font-size: 13px;
    width: 350px;
  }
}
@media (max-width: 550px) {
  .dog {
    width: 300px;
  }
  .img_container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .name {
    width: 100%;
    padding: 10px;
    height: fit-content;
  }
  .temperament_box ul li {
    width: 100%;
  }
}
