.dogs_container {
  display: flex;
  padding: 0px;
  flex-flow: wrap row;
  justify-content: space-evenly;
  width: 70%;

  /* background: black; */
  /* animation: home 0s ease 5s 1 normal;
  animation-duration: 5s; */
}
/* @keyframes home {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.dog {
  border-radius: 8px;
  background: #e0e0e0;
  /* box-shadow: 13px -13px 21px #636363, -13px 13px 21px #ffffff; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
  flex-flow: row wrap;
  margin: 30px 0px 30px 0px;
  width: 450px;
  height: 400px;
  transition: box-shadow 0.5s, transform 500ms, filter 500ms ease-in-out;
  padding: 10px;
}

/* .dogs_container:hover .dog {
  filter: blur(2px);
  transform: scale(0.95);
} */
.dog:hover {
  transform: scale(1.03);
}
.img_container {
  height: 50%;
  width: 60%;
}
.img_card {
  height: 200px;
  object-fit: cover;
  width: 100%;
  display: block;
  border-radius: 8px;
}
.name {
  height: 50%;
  width: 40%;
  /* border-radius: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  text-decoration: none;
  color: inherit;
  border-bottom: solid 0.2px;
  box-shadow: rgba(26, 22, 22, 0.096) 0px 4px 6px;
  border-radius: 4px;
}
.info {
  font-size: 1.2em;
  height: 40%;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.temperament_box {
  width: 60%;
  height: 100%;
}
.temperament_box ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  height: 100%;
  align-items: center;
  padding: 5px;
  width: 95%;
  margin: auto;
  overflow: auto;
  height: 70%;
}
.temperament_box li {
  text-align: center;
  color: #fff;
  background-color: rgb(26, 22, 22);
  width: 40%;
  padding: 2px 0px;
  margin: 1px 3px 1px 3px;
  border-radius: 8px;
}
.weight_box {
  width: 40%;
}

@media (max-width: 700px) {
  .dogs_container {
    justify-content: center;
    width: 100%;
  }
  .dog {
    font-size: 13px;
    width: 350px;
  }
}
@media (max-width: 400px) {
  .dog {
    font-size: 12px;
    width: 250px;
  }
  .img_container {
    width: 100%;
  }
  .name {
    width: 100%;
    padding: 10px;
    height: fit-content;
  }
  .temperament_box li {
    width: 100%;
  }
}
