.home {
  background-color: rgba(34, 9, 9, 0.575);
  width: 80%;
}
.active {
  border-radius: 3px;
  background: #161111bb;
  box-shadow: 31px 31px 63px #676767, -31px -31px 63px #1a0e0e;
  font-size: 20px;
}
.pages ul {
  display: flex;
  background-color: rgb(225, 238, 210);
  list-style: none;
  justify-content: space-around;
  height: 40px;
  align-items: center;
}
.pages ul li a {
  text-decoration: none;
}
.pages ul li {
  padding: 5px;
  cursor: pointer;
}
.pages ul li:hover {
  background: #161111bb;
  font-size: 20px;
  border-radius: 3px;
}
