.home {
  opacity: 0;
  transition-timing-function: ease-in;
  transition: 0.8s 0.1s linear;

  background: #e0e0e0;
  min-height: 120vh;

  padding: 0px 0px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.nav_container {
  position: relative;
  width: 100%;
}
.active {
  border-radius: 3px;
  /* background: #161111bb; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  font-size: 20px;
  font-weight: bold;
}
.pages {
  width: 100%;
  height: 30%;
}
.pages ul {
  display: flex;
  background: #ecf0f3;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  list-style: none;
  justify-content: space-around;
  height: 80px;
  margin-bottom: 10px;
  align-items: center;
  border-radius: 8px;
}
.pages ul li a {
  text-decoration: none;
}
.pages ul li {
  padding: 5px;
  width: 2%;
  cursor: pointer;
  font-size: 1.2em;
}
.pages ul li:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 3px;
}
.opacity {
  opacity: 1;
}
@media (max-width: 700px) {
  .home {
    flex-wrap: wrap-reverse;
  }
}
@media (max-width: 450px) {
  .pages ul {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }
  .pages ul li {
    font-size: 16px;
    width: 5%;
  }
}
