.main {
  background-image: linear-gradient(
    to left bottom,
    #000000,
    #141212,
    #201e1c,
    #2a2a26,
    #333732
  );
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 98%;
  margin: auto;
  padding: 10px 20px;
}
.main_title {
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
  width: 10%;
  background: #ecf0f3;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  /* 
   */
}
.main_title:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.main_title .NavLInk {
  text-decoration: none;
  color: #393e41;
}
