.show {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 94vh;
  justify-content: flex-start;
  overflow: auto;
  scroll-behavior: smooth;
  width: 80%;
}

.input_1 {
  padding: 1%;
}
.searching {
  background-color: white;

  margin: 0 auto;
  width: 200px;
}
