.searchbar_box {
  width: 100%;
}
.input_1 {
  padding: 1%;
  background-color: rgba(24, 22, 44, 0.822);
  color: white;
  font-weight: bold;
}
.btn {
  padding: 1%;
}
.btn:hover {
  cursor: pointer;
}
