.show {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 80%;
}
.searchbar_box {
  width: 100%;
}
.input_1 {
  padding: 1%;
}
.searching {
  background-color: white;

  margin: 0 auto;
  width: 200px;
}
